@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Playfair+Display+SC');

$sharp: 'Playfair Display', serif;
$sharper: 'Playfair Display SC', serif;

//  ethpay color pallette.
$black:   #000000;
$emerald: #50CE50;
$green:   #72E572;
$mint:    #82E582;
$onyx:    #343a40;
$boxy:    #eeeeee;

body{
    background-color: $boxy;
}

@import "__sidebar",
        "__content",
        "__employees";


@media screen and (max-width: 1024px) {
    .sidebar
    {
        position: relative;
        min-width: 100vw;
    }

    .content
    {
        position: relative;
        min-width: 100vw;
        max-width: 100vw;
    }
}
