<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Meta Tags -->
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name=”description” content="Ethpay">
	<meta name=”author” content="diviproject.org"/>

	<title>Ethpay</title>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="/libraries/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
	<link rel="stylesheet" href="/styles/global.css">

	<!-- Javascripts -->
	<script src="/libraries/jquery-3.2.1.min.js"></script>
	<script src="/libraries/popper.min.js"></script>
	<script src="/libraries/bootstrap/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/9497edb156.js"></script>
</head>

<body>

	<!-- Template Rendering -->
	<main>{{{ body }}}</main>

	<!-- Global Footer -->
</body>
</html>
