<h1>EthPay</h1>
<h2>Dashboard</h2>
<hr/>

<h3>Your employees</h3>
<ul>
    {{#each employees}}
    <li>{{this.name}} | {{this.address}} | {{this.salary}}</li>
    {{/each}}
</ul>

<a id="pay">Pay Employees</a>

<!-- Payment Functionality -->
<script>
$(()=>{
    $('#pay').click(()=>{
        $.ajax({
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({{{json employees}}}),
            success: (data) => { console.log(data) },
            error: () => { console.log("boo") },
            url: '/pay',
            cache: false
        });
    });
});
</script>
